.footer {
    padding: $spacer-30 $spacer-0;
    background-image: url('../img/footer-bg-lg.png');
    background-repeat: no-repeat;
    background-size: cover;

    @include container-lg {
        background-image: url('../img/footer-bg-sm.png');
        padding: $spacer-10 $spacer-3;
    }

    .content-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include container-contentWidth {
            margin: $spacer-0 $spacer-4;
        }

        @include container-lg {
            flex-direction: column;
            gap: $spacer-10;
        }

        .content {
            @include container-lg {
                display: flex;
                flex-direction: column;
            }

            .content-text {
                color: $darkGray;

                @include container-lg {
                    @include fs-6;
                }

                &:first-of-type {
                    padding-top: $spacer-6;

                    @include container-lg {
                        padding-bottom: $spacer-1;
                    }
                }
            }

            .email-text {
                display: inline-block;
                padding-top: $spacer-6;
                color: $gray;

                @include container-lg {
                    @include fs-6;
                }
            }

            .logo {
                width: 120px;
                height: 54px;
            }
        }
    }

    .contact-list {
        width: 306px;

        .contact-item {
            display: flex;
            gap: $spacer-2;
            align-items: center;
            padding: $spacer-2 $spacer-6;
            background-color: $white;
            border: 1px solid $lightGray;
            border-radius: .5rem;
            cursor: pointer;


            @include container-lg {
                padding: $spacer-1 $spacer-6;
            }

            .contact-text {
                font-weight: $fw-700;
                font-size: $fs-5;
                color: $darkGray;
            }

            &.active {
                background-color: $black;
                border: none;

                a {
                    color: $white;
                }
            }

            &:not(.active):hover {
                background-color: $extraLightGray;
            }
        }

        .contact-item + .contact-item{
            margin-top: $spacer-6;
        }
    }
}