.banner-container,
.works-container,
.service-container,
.articles {
    max-width: 1920px;
    margin: 0 auto;
}

.banner-container {
    display: flex;

    @media (max-width: 992px) {
        flex-direction: column;
    }

    .content {
        width: 39.896%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 1.5rem;

        @media (max-width: 992px) {
            width: 100%;
            padding: 40px 53.5px;
            order: 2;
        }


        .box {
            max-width: 430px;
            margin-left: 1rem;
            flex: 1;

            @media (max-width: 992px) {
                text-align: center;
                margin: auto;
            }

            .next-line {
                @media (max-width: 992px) {
                    display: inline-block;
                }
            }

            h2 {
                font-size: 2.5rem;
                font-weight: 600;
                line-height: 1.2;
                padding-bottom: 1.5rem;
                color: #3B3B3B;

                @media (max-width: 992px) {
                    font-weight: 700;
                    font-size: 2rem;
                }
            }

            p {
                color: #5B5B5B;
            }

            &>p:nth-of-type(1) {
                padding-bottom: .5rem;
            }

            .skill {
                padding-top: 1rem;
                color: #C1C1C1;
            }

            .social-container {
                display: flex;
                gap: 1rem;
                padding-top: 3.75rem;

                img {
                    @media (max-width: 992px) {
                        height: 40px;
                        width: 40px;
                    }
                }

                @media (max-width: 992px) {
                    padding-top: 1.5rem;
                    justify-content: center;
                }
            }

            .mark-section1,
            .mark-section2 {
                display: inline-block;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 2px;
                    left: 0;
                    background-image: url('../img/mark.png');
                    background-repeat: round;
                    height: .5rem;
                    z-index: -1;
                }
            }

            .mark-section1 {
                padding: 0 .5rem;

                @media (max-width: 992px) {
                    padding: 0 .5rem 0 0;
                }

                &::after {
                    width: 148px;
                }
            }

            .mark-section2 {
                padding-left: .5rem;

                &::after {
                    width: 119px;
                }
            }
        }
    }


    .bg {
        width: 60.104%;

        img {
            @media (max-width: 992px) {
                width: 100%;
                object-fit: cover;
            }
        }

        @media (max-width: 992px) {
            width: 100%;
        }
    }
}

.works-container {
    .title-container {
        @media (max-width: 992px) {
            padding-top: 40px;
        }
    }

    .card-group {
        display: flex;
        flex-direction: column;

        .card {
            height: 800px;

            @media (max-width: 992px) {
                height: auto;
            }

            .card-box {
                position: relative;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                max-width: 1296px;
                margin: 0 auto;

                @media (max-width: 1296px) {
                    margin: 0 1rem;
                }

                @media (max-width: 992px) {
                    height: 390px;
                    justify-content: center;
                }

                .content-lg {
                    padding: 80px 40px 56px 40px;
                    border-radius: 1.5rem;
                    background-color: #FFFFFF1A;
                    max-height: 400px;
                    width: 526px;
                    // min-width: 411px;
                    margin: auto 0;
                    backdrop-filter: blur(3px);

                    @media (max-width: 992px) {
                        display: none;
                    }

                    .sub-title {
                        font-weight: 700;
                        font-size: 1.75rem;
                        line-height: 1.2;
                        color: #FFFFFF;
                        padding-bottom: .5rem;
                    }

                    p {
                        line-height: 1.5;
                        color: #FFFFFF;
                        padding-bottom: 1.5rem;
                    }

                    .tag-container {
                        display: flex;
                        gap: 1rem;
                        border-bottom: 1px solid #F1F1F1;
                        padding-bottom: 40px;

                        .tag-item {
                            padding: .25rem .75rem;
                            border-radius: 1rem;
                            background-color: #FFFFFF;
                            color: #3B3B3B;
                        }
                    }
                }
            }
        }

        .content-sm {
            display: none;
            flex-direction: column;
            position: relative;
            padding: 1.5rem 1.5rem 3rem 1.5rem;
            background-color: #FFFFFF;
            text-align: center;

            @media (max-width: 992px) {
                display: flex;
            }

            .sub-title {
                color: #1E1E1E;
                font-weight: 700;
                font-size: 1.25rem;
                line-height: 1.2;
                padding-bottom: .5rem
            }

            p {
                @include fs-6;
                color: #5B5B5B;
            }

            .tag-container {
                display: flex;
                justify-content: center;
                gap: 8px;
                padding-top: 1rem;

                .tag-item {
                    padding: .25em .75rem;
                    background-color: #F1F1F1;
                    border-radius: 1rem;
                }
            }

        }

        .travel,
        .finance,
        .aesthetics {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                background-color: #0A101380;
            }
        }

        .travel {
            background-image: url('../img/homepage-work1-bg.png');

            &::before {
                width: 100%;
                height: 100%;
            }

            .bg {
                width: 55.633%;

                @media (max-width: 992px) {
                    width: 100%;
                    max-width: 295px;
                    max-height: 370px;
                }
            }
        }

        .finance {
            background-image: url('../img/homepage-work2-lg.png');
            background-repeat: no-repeat;
            background-size: cover;

            @media (max-width: 992px) {
                background-image: none;
            }

            &::before {
                width: 49.375%;
                height: 100%;

                @media (max-width: 992px) {
                    background-color: transparent;
                }
            }

            .card-box {
                width: 49.375%;
                justify-content: center;
                align-items: center;
                margin: 0;

                @media (max-width: 992px) {
                    height: 390px;
                    width: 100%;
                    background-image: url('../img/homepage-work2-sm.png');
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                .content {
                    margin: 0 1rem;
                    flex: 1;
                }
            }
        }

        .aesthetics {
            background-image: url('../img/homepage-work3-bg.png');

            .content-sm {
                @media (max-width: 992px) {
                    padding-bottom: 80px;
                }
            }


            &::before {
                width: 100%;
                height: 100%;
            }

            .bg {
                margin: auto 0;
                width: 55.633%;

                @media (max-width: 992px) {
                    width: 100%;
                    height: auto;
                    max-width: 295px;
                }
            }
        }
    }
}

.service-container {
    background-image: url('../img/homepage-services-bg.png');

    .service-group {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 24px;
        margin: 0 1rem;

        .service-item {
            background: linear-gradient(315deg, #1E1E1E 0%, #1E1E1E 49.97%, #000000 50%);
            padding: 20px 30px;
            border-radius: 1.5rem;
            width: 306px;
            height: 306px;
            cursor: pointer;
        }

        .service-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .sub-img {
                height: 80px;
                width: 80px;
            }

            .sub-title {
                font-weight: 700;
                font-size: 1.75rem;
                line-height: 1.5;
                color: #FFFFFF;
                padding-top: 1.5rem;

                @media (max-width: 992px) {
                    font-size: 1.5rem;
                    line-height: 1.2;
                }
            }
        }
    }

    .more-container {
        padding: 80px 0 120px 0;
        text-align: center;

        @media (max-width: 992px) {
            padding: 40px 0 80px 0;
        }

        .more-text {
            font-weight: 600;
            font-size: 1.75rem;
            line-height: 1.2;
            color: #3B3B3B;

            @media (max-width: 992px) {
                font-weight: 700;
                font-size: 1.25rem;
            }
        }
    }
}

.articles {
    padding-bottom: 120px;

    @media (max-width: 992px) {
        padding-bottom: 80px;
    }
}