@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
    font-family: "Noto Sans TC", sans-serif;
    line-height: $lh-3;
}

body.overlay {
    @include container-lg{
        overflow: hidden;
    }
}

body.overlay::before {
    @include container-lg {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
    }
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}


img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    height: 100%;
}

.container{
    max-width: 1296px;
    margin: $spacer-0 $spacer-auto;
}