@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');


*,
*::before,
*::after,
li a {
    font-family: "Noto Sans TC", sans-serif;
}

img {
    max-width: 100%;
}


.fs-5 {
    font-size: 1.25rem;
    line-height: 1.5;
}

.fs-6 {
    font-size: 1rem;
    line-height: 1.5;
}

.title-lg {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: .12em;
    color: #3B3B3B;
}