.title-container {
  padding: 120px 0 80px 0;
  display: flex;
  justify-content: center;
}
.title-container .title-box {
  text-align: center;
  position: relative;
}
.title-container .title-box::before, .title-container .title-box::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 94px;
  height: 0.125rem;
  background-color: #C1C1C1;
}
.title-container .title-box::before {
  right: 100%;
  margin-right: 1rem;
}
.title-container .title-box::after {
  left: 100%;
  margin-left: 1rem;
}
.title-container .title-box .title::before, .title-container .title-box .title::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #C1C1C1;
}
.title-container .title-box .title::before {
  right: 100%;
  margin-right: 110px;
}
.title-container .title-box .title::after {
  left: 100%;
  margin-left: 110px;
}

.more-button-box {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.more-button-box .more,
.more-button-box .arrow {
  color: #FFFFFF;
}
.more-button-box .more {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
}
.more-button-box .more {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5;
  background-color: #000000;
  border-radius: 5px;
}
.more-button-box .arrow {
  padding-left: 0.5rem;
}

.header-container {
  padding: 2rem 0;
  border-bottom: 1px solid #F1F1F1;
}
.header-container h1 {
  position: absolute;
  left: 0;
}
.header-container .hidden-text {
  display: inline-block;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
.header-container nav {
  position: relative;
  display: flex;
  max-width: 1296px;
  margin: 0 auto;
}
.header-container .nav-list {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin: 0 auto;
}
.header-container .nav-list .nav-item {
  position: relative;
  padding: 0.25rem 0.5rem;
  transition: all 0.4s ease;
}
.header-container .nav-list .nav-item.active a {
  font-weight: 600;
  color: #000000;
}
.header-container .nav-list .nav-item:hover::before, .header-container .nav-list .nav-item:hover::after, .header-container .nav-list .nav-item:hover .nav-link::before, .header-container .nav-list .nav-item:hover .nav-link::after {
  opacity: 1;
}
.header-container .nav-list .nav-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0.5rem;
  height: 0.5rem;
  border-bottom: 1px solid #919191;
  border-left: 1px solid #919191;
  opacity: 0;
}
.header-container .nav-list .nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0.5rem;
  height: 0.5rem;
  border-bottom: 1px solid #919191;
  border-right: 1px solid #919191;
  opacity: 0;
}
.header-container .nav-list .nav-item .nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.5rem;
  height: 0.5rem;
  border-top: 1px solid #919191;
  border-left: 1px solid #919191;
  opacity: 0;
}
.header-container .nav-list .nav-item .nav-link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0.5rem;
  height: 0.5rem;
  border-top: 1px solid #919191;
  border-right: 1px solid #919191;
  opacity: 0;
}
.header-container .nav-list a {
  line-height: 1.5;
  color: #000000;
}

.banner-container,
.works-container,
.service-container,
.articles {
  max-width: 1920px;
  margin: 0 auto;
}

.banner-container {
  display: flex;
}
.banner-container .content {
  width: 39.896%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1.5rem;
}
.banner-container .content .box {
  max-width: 430px;
  margin-left: 1rem;
  flex: 1;
}
.banner-container .content .box h2 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2;
  padding-bottom: 1.5rem;
  color: #3B3B3B;
}
.banner-container .content .box p {
  color: #5B5B5B;
}
.banner-container .content .box > p:nth-of-type(1) {
  padding-bottom: 0.5rem;
}
.banner-container .content .box .skill {
  padding-top: 1rem;
  color: #C1C1C1;
}
.banner-container .content .box .social-container {
  display: flex;
  gap: 1rem;
  padding-top: 3.75rem;
}
.banner-container .content .box .mark-section1,
.banner-container .content .box .mark-section2 {
  position: relative;
  word-break: keep-all;
}
.banner-container .content .box .mark-section1::after,
.banner-container .content .box .mark-section2::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  background-image: url("../img/mark.png");
  background-repeat: round;
  height: 0.5rem;
  z-index: -1;
}
.banner-container .content .box .mark-section1 {
  padding: 0 0.5rem;
}
.banner-container .content .box .mark-section1::after {
  width: 148px;
}
.banner-container .content .box .mark-section2 {
  padding-left: 0.5rem;
}
.banner-container .content .box .mark-section2::after {
  width: 119px;
}
.banner-container .bg {
  width: 60.104%;
}

.works-container .card-group {
  display: flex;
  flex-direction: column;
}
.works-container .card-group .card {
  height: 800px;
}
.works-container .card-group .card .card-box {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1296px;
  margin: 0 auto;
}
.works-container .card-group .card .card-box .content {
  padding: 80px 40px 56px 40px;
  border-radius: 1.5rem;
  background-color: rgba(255, 255, 255, 0.1019607843);
  max-height: 400px;
  max-width: 526px;
  min-width: 411px;
  margin: auto 0;
  width: 41%;
}
.works-container .card-group .card .card-box .content .sub-title {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.2;
  color: #FFFFFF;
  padding-bottom: 0.5rem;
}
.works-container .card-group .card .card-box .content p {
  line-height: 1.5;
  color: #FFFFFF;
  padding-bottom: 1.5rem;
}
.works-container .card-group .card .card-box .content .tag-container {
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid #F1F1F1;
  padding-bottom: 40px;
}
.works-container .card-group .card .card-box .content .tag-container .tag-item {
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  background-color: #FFFFFF;
  color: #3B3B3B;
}
.works-container .card-group .travel,
.works-container .card-group .finance,
.works-container .card-group .aesthetics {
  position: relative;
}
.works-container .card-group .travel::before,
.works-container .card-group .finance::before,
.works-container .card-group .aesthetics::before {
  content: "";
  position: absolute;
  background-color: rgba(10, 16, 19, 0.5019607843);
}
.works-container .card-group .travel {
  background-image: url("../img/homepage-work1-bg.png");
}
.works-container .card-group .travel::before {
  width: 100%;
  height: 100%;
}
.works-container .card-group .travel .bg {
  width: 55.633%;
}
.works-container .card-group .finance {
  background-image: url("../img/homepage-work2-lg.png");
}
.works-container .card-group .finance::before {
  width: 49.375%;
  height: 100%;
}
.works-container .card-group .finance .card-box {
  width: 49.375%;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.works-container .card-group .finance .card-box .content {
  margin: 0 1rem;
  flex: 1;
}
.works-container .card-group .aesthetics {
  background-image: url("../img/homepage-work3-bg.png");
}
.works-container .card-group .aesthetics::before {
  width: 100%;
  height: 100%;
}
.works-container .card-group .aesthetics .bg {
  margin: auto 0;
  width: 55.633%;
}

.service-container {
  background-image: url("../img/homepage-services-bg.png");
}
.service-container .service-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 1rem;
}
.service-container .service-group .service-item {
  background: linear-gradient(315deg, #1E1E1E 0%, #1E1E1E 49.97%, #000000 50%);
  padding: 20px 30px;
  border-radius: 1.5rem;
  width: 306px;
  height: 306px;
  cursor: pointer;
}
.service-container .service-group .service-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service-container .service-group .service-item .sub-title {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.5;
  color: #FFFFFF;
  padding-top: 1.5rem;
}
.service-container .more-container {
  padding: 80px 0 120px 0;
  text-align: center;
}
.service-container .more-container .more-text {
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 1.2;
  color: #3B3B3B;
}

.articles {
  padding-bottom: 120px;
}

.footer-container {
  padding: 80px 0;
  background-image: url("../img/footer-bg-lg.png");
}
.footer-container .content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1296px;
  margin: 0 auto;
}
.footer-container .content-container .content-text {
  color: #3B3B3B;
}
.footer-container .content-container .content-text:first-of-type {
  padding-top: 1.5rem;
}
.footer-container .content-container .email-text {
  padding-top: 1.5rem;
  color: #919191;
}
.footer-container .content-container .logo {
  width: 120px;
  height: 54px;
}
.footer-container .contact-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 306px;
}
.footer-container .contact-list .contact-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 1.5rem;
  background-color: #FFFFFF;
  border: 1px solid #C1C1C1;
  border-radius: 0.5rem;
  cursor: pointer;
}
.footer-container .contact-list .contact-item .contact-text {
  color: #3B3B3B;
}
.footer-container .contact-list .contact-item.active {
  background-color: #000000;
}
.footer-container .contact-list .contact-item.active a {
  color: #FFFFFF;
}
.footer-container .contact-list .contact-item:not(.active):hover {
  background-color: #ddd;
}

/*# sourceMappingURL=index.css.map */
