.header-container {
  padding: 1.75rem 0;
}
.header-container nav {
  display: flex;
  max-width: 1296px;
  margin: 0 auto;
}
.header-container .nav-list {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin: 0 auto;
}
.header-container .nav-list .nav-item {
  padding: 0.25rem 0.5rem;
}
.header-container .nav-list a {
  line-height: 1.5;
  color: #000000;
}

.banner-container {
  display: flex;
}
.banner-container .content {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1.5rem;
}
.banner-container .content .box {
  max-width: 430px;
}
.banner-container .content .box h2 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2;
  padding-bottom: 1.5rem;
}
.banner-container .content .box > p:nth-of-type(1) {
  padding-bottom: 0.5rem;
}
.banner-container .content .box .skill {
  padding-top: 1rem;
  color: #C1C1C1;
}
.banner-container .content .box .social-container {
  display: flex;
  gap: 1rem;
  padding-top: 3.75rem;
}
.banner-container .bg {
  width: 60%;
}
.banner-container .bg img {
  max-width: 100%;
}
