.swiper {
  max-width: 1296px;
  height: 398px;

  .swiper-slide {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .bg {
      padding-bottom: 1rem;

      img {
        border: 1px solid #F1F1F1;
        border-radius: .5rem;
      }
    }


    .content{
      .title {
        color: #3B3B3B;
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1.2;
        padding-bottom: 1rem;
      }


      .tag-container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .tag{
          color: #3B3B3B;
          background-color: #F1F1F1;
          padding: .25rem .75rem;
          border-radius: 1rem;
        }

        .date{
          color: #5B5B5B;
        }
      }
    }
  }

  .swiper-pagination-bullet {
    width: .75rem;
    height: .75rem;
    opacity: 1;
    background: #E9E9E9;
  }

  .swiper-pagination{
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .swiper-pagination-bullet-active {
    color: #fff;
    background: #000000;
  }

}