@include index-wrapper {
    .service-container {
        background-image: url('../img/homepage-services-bg.png');

        .more-container {
            padding: $spacer-20 $spacer-0 $spacer-30 $spacer-0;
            text-align: center;

            @media (max-width: 992px) {
                padding: $spacer-10 $spacer-0 $spacer-20 $spacer-0;
            }

            .more-text {
                font-weight: $fw-600;
                font-size: $spacer-7;
                line-height: $lh-2;
                color: $darkGray;

                @include container-lg {
                    font-weight: $fw-700;
                    font-size: $spacer-5;
                }
            }
        }
    }
}