.service-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: $spacer-6;
    margin: $spacer-0 $spacer-4;

    .service-item {
        background: linear-gradient(315deg, #1E1E1E 0%, #1E1E1E 49.97%, #000000 50%);
        padding: $spacer-20 97px;
        border-radius: 1.5rem;
        width: 306px;
        cursor: pointer;

        @include container-lg{
            padding: 86.5px 105px;
        }
    }

    .service-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all .3s ease;

        &:hover{
            transform: translateY(-10px);
        }

        .sub-img {
            height: 80px;
            width: 80px;
        }

        .sub-title {
            font-weight: $fw-700;
            font-size: $spacer-7;
            color: $white;
            padding-top: $spacer-6;

            @include container-lg {
                font-size: $spacer-6;
                line-height: $lh-2;
            }
        }
    }
}