.title-container {
    padding: $spacer-30 $spacer-0 $spacer-20 $spacer-0;
    display: flex;
    justify-content: center;

    @include container-lg{
        padding: 80px 63px 40px;
    }

    .title-box {
        text-align: center;
        position: relative;


        @include container-lg{
            @include title-sm;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 94px;
            height: .125rem;
            background-color: $lighterGray;

            @include container-lg{
                width: 56px;
            }
        }

        &::before {
            right: 100%;
            margin-right: $spacer-4;
        }

        &::after {
            left: 100%;
            margin-left: $spacer-4;
        }

        .title {

            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: $lighterGray;
            }

            &::before {
                right: 100%;
                margin-right: 110px;

                @include container-lg{
                    margin-right: $spacer-18;
                }
            }

            &::after {
                left: 100%;

                @include container-lg{
                    margin-left: $spacer-18;
                }
            }
        }
    }
}