.title-container {
    padding: 120px 0 80px 0;
    display: flex;
    justify-content: center;

    @media (max-width: 992px) {
        padding: 80px 63px 40px;
    }

    .title-box {
        text-align: center;
        position: relative;


        @include container-lg{
            @include title-sm;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 94px;
            height: .125rem;
            background-color: #C1C1C1;


            @include container-lg{
                width: 56px;
            }

        }

        &::before {
            right: 100%;
            margin-right: 1rem;
        }

        &::after {
            left: 100%;
            margin-left: 1rem;
        }

        .title {

            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #C1C1C1;
            }

            &::before {
                right: 100%;
                margin-right: 110px;

                @include container-lg{
                    margin-right: 72px;
                }
            }

            &::after {
                left: 100%;

                @include container-lg{
                    margin-left: 72px;
                }
            }
        }
    }
}