.work-group {
    display: flex;
    flex-wrap: wrap;
    gap: $spacer-6;

    @include container-lg {
        gap: $spacer-12;
    }

    .work {

        cursor: pointer;

        &:hover .bg .work-img{
            transform: scale(1.1);
        }

        @include container-contentWidth{
            width: calc(50% - 1rem);
        }

        @include container-lg{
            width: 100%;
        }

        .bg{
            overflow: hidden;

            &,.workimg{
                border-radius: $spacer-2;
            }

            .work-img {
                width: 100%;
                transition: all .3s ease;
            }
        }

        .content {
            padding: $spacer-4 $spacer-0 $spacer-0 $spacer-4;

            .work-title {
                @include work-lg;
                color: #3B3B3B;
                padding-bottom: $spacer-2;

                @include container-lg {
                    @include work-sm;
                }
            }

            p {
                color: $gray;
            }

            .tag-group {
                margin-top: $spacer-6;
                display: flex;
                gap: $spacer-4;

                @include container-lg {
                    margin-top: $spacer-4;
                    gap: $spacer-2;
                }

                .tag {
                    background-color: $backgroundDark100;
                    padding: $spacer-1 $spacer-3;
                    border-radius: 1rem;
                    color: $darkGray;
                }
            }
        }
    }
}