@mixin h5 {
    font-size: $spacer-5;
    line-height: $lh-2;
}

@mixin fs-5 {
    font-size: $spacer-5;
    line-height: $lh-3;
}

@mixin fs-6 {
    font-size: $spacer-4;
    line-height: $lh-3;
}

@mixin title-lg {
    font-weight: $fw-600;
    font-size: $spacer-8;
    line-height: $lh-2;
    letter-spacing: .12em;
    color: $darkGray;
}

@mixin title-sm {
    font-weight: $fw-700;
    font-size: $spacer-6;
    line-height: $lh-2;
    letter-spacing: .12em;
}

@mixin btn-lg {
    font-weight: $fw-600;
    font-size: $spacer-5;
    line-height: $lh-3;
}

@mixin btn-sm {
    font-weight: $fw-700;
    font-size: $spacer-4;
    line-height: $lh-3;
}

@mixin container-contentWidth{
    @media (max-width:1296px) {
        @content
    }
};

@mixin container-xl{
    @media (max-width:1200px) {
        @content
    }
};

@mixin container-lg{
    @media (max-width:992px) {
        @content
    }
};
